
body {
  background-image: url(/img/Brain-Memory-Concept.jpg);
  background-size: cover;
}

.correct-numbers{
  text-align: center;
  font-size: 30px;
  background-color: #00AEFF;
  color: #000000;
}

